body {
  background-color: papayawhip;
  padding: 80px 120px 80px 120px;
}

.container {
  border-radius: 20px;
  background-color: hsl(0, 0%, 100%);
  padding-top: 50px;
  padding-right: 40px;
  padding-bottom: 50px;
  padding-left: 50px;
}

img {
  border-radius: 25px;
  width: 768px;
  padding-bottom: 10px;
}

p {
  font-size: 16px;
  text-align: justify;
}

#h3 {
  color: purple;
}

h2 {
  color: hsl(14, 45%, 36%);
  margin: 0;
}

#row3 {
  border-radius: 15px;
  background-image: linear-gradient(
    to right,
    rgb(238, 213, 238),
    rgb(238, 210, 238)
  );
  margin: 0;
}

ul li {
    position: inside;
}
li::marker{
  color: hsl(14, 45%, 36%);
}
#d1, #d2, #d3, #d4 {
    color:hsl(14, 45%, 36%);
    font-weight: 700;

}
ul.styleType{
    list-style-position: inside;
}
ol.styleType{
    list-style-position: inside;
    font-family: "Outfit", sans-serif;
}